@import url(https://fonts.googleapis.com/css?family=Vollkorn); /* to import google font style */ 
body{
	background-color: gray;
	font-family: vollkorn;
}

.container-fluid{
	background-color: #2b98f0;
	box-shadow: 5px 5px 20px #888888;
}

.navbar-brand{
	margin-left: 50px;
	font-weight: bold;
}

h4{
	box-shadow: 5px 5px 20px #888888;
	background-color: transparent;
	padding: 10px;
}

.row img{
	box-shadow: 5px 5px 20px #888888;
	width: 320px;
	height: 220px;
}

.row img:hover{
	width: 350px;
	height: 250px;
}

#footer{
	text-align: center;
	
}

.content{
	height: 50px;
	padding-top: 15px;
	background-color: rgba(0,0,0,0.09);
	box-shadow: 15px 15px 15px 15px #2b98f0;
}