<html>
<head>
</head>
<body>
<h2>HEllo AMMANANNA!!!!!!!!!</h2>

<table class="table table-hover table-bordered">
                       <tr class="info">
                                <th>Contest Name</th>
                                <th>Organisation</th>
                                <th>Date Of The Contest</th>
                                <th>Current Status</th>
                                <th>Delete Contest</th>
                       </tr>
			{% for c in contests %}
			<tr> 
			<td>{{c.contestname}}</td>
			<td>{{c.organisation}}</td>
                            <td>{{c.date}}</td>
                            <td>{{c.status}}</td>
                             <td>
                              <form method="post" action="deleteContest">
                               {% csrf_token %}
                                <button class="btn btn-danger btn-sm" name="cname" value={{c.contestname}}>
                                <span class="glyphicon glyphicon-trash" aria-hidden="true"> </span>
                                 Delete 
                                </button>
                              </form>
                            </td>
                        </tr>
                        {% endfor %}
                    </table>

</body>
</html>